.cluster {
  height: $content_height;
  padding: 10px;
  color: $color;
}

.item select {
  background-color: $select_background_color;
  border-color: $select_border_color;
  color: $color;
  display: inline;
}

.label, .item {
  display: inline;
}