.forgot-password{
  height: $login_height;
  width: $login_width;
  color: $color;
  margin-left: auto;
  margin-right: auto;
  margin-top: $login_margin_top;
  background-color: $login_background_color;
  padding-top: $login_padding_top;
  font-style: italic;

  input {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    background: #fff;
    color: $color;
    display: inline-block;

    &:focus,
    &:active {
      outline: none;
    }

    &[type="input"],
    &[type="password"] {
      border: none;
      border-bottom: solid 2px $color;
    }
  }

  label {
    position: absolute;
    left: 0;
    top: 50%;
    color: #999999;
    pointer-events: none;
    transition: all 0.4s ease-out 0s;
  }

   input:focus + label,
   input:valid + label {
     top: 0px;
     font-size: 12px;
     color: #aaaaaa;
   }
}

.button {
  transition: all 0.65s;
  border-style: none;
  border-radius: 4px;
}

.position--relative {
  position: relative !important;
}
