.icon {
  height: 120px;
  width: 120px;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  color: $color;
  display: inline-block;
}

.icon * {
  display: table;
  margin: 0 auto;
}

.icon-img {
  height: 90px;
  width: 90px;
}