.header {
  background-color: $header_background_color;
  height: $header_height;
  line-height: $header_height;
  box-shadow: 0px 2px 3px #eeeeee;
  border-radius: 2px;
  border-width: 1px;
  border-color: #999999;
}

.header li {
  list-style-type: none;
}

.header li a {
  color: #bbbbbb;
  text-align: center;
  text-shadow: 1px 1px #eeeeee;
  padding: 16px 16px;
  text-decoration: none;
}

.active {
  background-color: #ebebeb;
  height: $header_height;
}

.active a {
  color: #757575;
  text-shadow: none;
  height: $header_height;
}