.content {
  height: $content_height;
  padding: 10px;
  color: $color;
}

.content a {
  color: $color;
}

select {
  background-color: $select_background_color;
  border-color: $select_border_color;
  color: $color;
}

button, .button {
  border-style: none;
  border-radius: 4px;
}

.content.no_header {
  height: calc(#{$content_height} + #{$header_height})
}

.center * {
  display: table;
  margin: 0 auto;
}

.icon {
  height: 120px;
  width: 120px;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  color: $color;
}

.inline {
  display: inline-block;
}