.header {
  background-color: #aaaaaa;
  height: $header_height;
  line-height: $header_height;
  box-shadow: 1px 1px 3px #888888;
}

.header li {
  border-right-style: solid;
  border-right-color: #bbbbbb;
  border-right-width: 1px;
}

.header li:last-child
{
  border-left-style: solid;
  border-left-color: #bbbbbb;
  border-left-width: 1px;
}

.header li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.u-fr {
  float: right;
}