.header {
  background-color: $header_background_color;
  height: $header_height;
  line-height: $header_height;
  box-shadow: 0px 2px 3px #eeeeee;
  border-radius: 2px;
  border-width: 1px;
  border-color: #999999;
}

.header li a {
  color: #bbbbbb;
  text-align: center;
  text-shadow: 1px 1px #eeeeee;
  padding: 16px 16px;
  text-decoration: none;
}

.header li.active {
  background-color: #ebebeb;
}

.header li.active a {
  color: #757575;
  text-shadow: none;
}

.u-fr {
  float: right;
}

.u-fr div {
  margin-top: 9px;
  margin-right: 5px;
  height: calc(100% - 9px);
}