.header {
  margin-top: $header_margin_top;
  margin-left: calc(#{$header_margin_sides} / 2);
  background-color: #aaaaaa;
  height: $header_height;
  line-height: $header_height;
  box-shadow: 0px 2px 3px #888888;
  width: $header_width;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #999999;
}

.header li {
  border-right-style: solid;
  border-right-color: #bbbbbb;
  border-right-width: 1px;
}

.header li:last-child
{
  border-left-style: solid;
  border-left-color: #bbbbbb;
  border-left-width: 1px;
}

.header li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.u-fr {
  float: right;
}