.settings {
  height: $settings_height;
  width: $settings_width;
  background-color: $settings_background_color;
  box-shadow: 0px 2px 3px #eeeeee;
  border-style: none none none solid;
  border-width: 1px;
  border-color: $settings_border_color;
  position: absolute;
  right: 0;
  color: $settings_color;
}


.settings .disable {
  position: absolute;
  right: 10px;
}

.settings .items {
  padding-top: $header_height;
  padding-left: 5px;
}

.settings .items a {
  display: block;
}