{
    "extends": "airbnb",
    "rules": {
        "arrow-parens": 0,
        "import/no-unresolved": 0,
        "react/destructuring-assignment": 0,
        "react/jsx-filename-extension": 0,
        "react/prefer-stateless-function": 0,
        "react/require-default-props": 0,
        "semi": 0,
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
    },
    "parser": "babel-eslint",
}
