.add {
  height: $add_height;
  width: $add_width;
  border-style: solid;
  border-radius: calc(#{$add_height} / 3);
  border-width: 1px;
  padding: 3px;
  position: absolute;
  bottom: calc(#{$footer_height} * 2);
  right: $footer_height;
  line-height: 0;

  img {
    height: $add_height;
  }
}