@font-face {
  font-family: 'Roboto';
  src: 
    url('./Roboto.woff2') format('woff3'),
    url('./Roboto.woff') format('woff'),
    url('./Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}