.sidebar {
  background-color: $settings_background_color;
  border-color: $settings_border_color;
  border-style: none none none solid;
  border-width: 1px;
  box-shadow: 0px 2px 3px #eeeeee;
  color: $settings_color;
  height: $settings_height;
  overflow: auto;
  padding: $popup_padding;
  position: fixed;
  right: 0;
  top: 0;
  width: $settings_width;
  z-index: 3;
  margin: 0;
}

.sidebar__full {
  @extend .sidebar;
  width: calc(100vw - #{$popup_padding} * 2);
}

:global .sidebar-appear,
:global .sidebar-leave,
:global .sidebar-enter
{
  width: 0;
  overflow: hidden;
  padding: 0;
  border-style: none;
}

.sidebar__closed
{
  width: 0;
  overflow: hidden;
  padding: 0;
  border-style: none;
}