a {
  text-decoration: none;
}

.provision {
  .SUCCESS {
    font-weight: bold;

    a {
      color: $ok_color;
    }
  }

  .PENDING {
    font-weight: bold;

    a {
      color: $running_color;
    }
  }

  .FAILED {
    font-weight: bold;

    a {
      color: $failed_color;
    }
  }
}
