.provision {
  .OK, .SUCCESS {
    color: $ok_color;
    font-weight: bold;

    a {
      color: $ok_color;
    }
  }

  .RUNNING {
    color: $running_color;
    font-weight: bold;

    a {
      color: $running_color;
    }
  }

  .FAILED {
    color: $failed_color;
    font-weight: bold;

    a {
      color: $failed_color;
    }
  }
}
