<form class="login form" novalidate ng-submit="logIn()">
  <div class="form__item">
    <label class="label--block label" for="login-username">
      Username (email):
    </label>
    <input
        id="login-username"
        class="input input--block"
        type="text"
        ng-model="userLoggingIn.email"
    >
  </div>
  <div class="form__item">
    <label class="label--block label" for="login-password">
      Password:
    </label>
    <input
        id="login-password"
        class="input input--block"
        type="password"
        ng-model="userLoggingIn.password"
    >
  </div>
  <div class="form__item form__item--submit">
    <button class="btn btn--block" type="submit">Log in</button>
  </div>
</form>
