$o-layout--tiny:     false !default;
$o-layout--small:    false !default;
$o-layout--large:    false !default;
$o-layout--huge:     false !default;
$o-layout--flush:    false !default;
$o-layout--rev:      false !default;
$o-layout--middle:   false !default;
$o-layout--bottom:   false !default;
$o-layout--right:    false !default;
$o-layout--center:   true !default;
$o-layout--auto:     false !default;
$u-p: true;

$color: #777777;

$header_height: 40px;
$header_background_color: white;

$footer_height: 25px;
$footer_color: #bbbbbb;
$footer_color_link: gray;
$footer_background_color: white;

$content_height: calc(100vh - #{$header_height} - #{$footer_height});

$settings_height: 100vh;
$settings_width: 200px;
$settings_background_color: #fafafa;
$settings_border_color: #e0e0e0;
$settings_color: #a0a0a0;

$select_background_color: white;
$select_border_color: #eeeeee;

$login_height: 300px;
$login_width: 400px;
$login_margin_top: calc((#{$content_height} - #{$login_height}) / 2);
$login_background_color: white;
$login_element_spacing: 12px;
$login_padding_top: 10px;

$inverse_background_color: #fafafa;